{% extends "pages\base.html" %} {% block body %}
<div
  class="col"
  style="
    margin-left: 50px;
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-direction: column;
  "
>
  <h3 class="center">
    <a
      href="/blog/{{ post.id }}/"
      style="text-decoration: none; color: chocolate"
    >
      {{ post.title }}
    </a>
  </h3>
  <center>
    <img
      src="{{ post.image_url }}"
      width="200px"
      height="170px"
      style="object-fit: cover"
    />
  </center>
  <p style="text-align: justify">{{ post.body|safe|linebreaks }}</p>
  <audio src="{{ post.audio.url }}" controls></audio>
  <a href="/blog/" style="text-decoration: none">
    <button>Quay lại</button>
  </a>
</div>
{% endblock body %}
